<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div class="container">
    <%- partial('_partial/header') %>
    <section class="content wrap documentationContent">
      <!-- start "body" in layout.ejs -->
      <%- body %>
      <!-- end "body" in layout.ejs -->
      <% if (page.source.split('/')[0] === 'docs') { %>
      <%- partial('_partial/sidebar-docs') %>
      <% } else if (page.source.split('/')[0] === 'about') { %>
      <%- partial('_partial/sidebar-about') %>
      <% } else { %>
      <%- partial('_partial/sidebar-index') %>
      <% } %>
    </section>
    <%- partial('_partial/footer') %>
  </div>
</body>
</html>
