<div class="nav-docs">
  <div class="nav-docs-section">
    <h3>General API</h3>
    <ul>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/index.md' ? 'active' : '' %>" href="/docs">Quick Start Guide</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/api-and-types.md' ? 'active' : '' %>" href="/docs/api-and-types.html">API Instance and Types</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/sync-config.md' ? 'active' : '' %>" href="/docs/sync-config.html">Synchronous Configuration</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/async-parsing.md' ? 'active' : '' %>" href="/docs/async-parsing.html">Asynchronous Parsing, Validation, Execution</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/help-text.md' ? 'active' : '' %>" href="/docs/help-text.html">Help Text</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/style-hooks.md' ? 'active' : '' %>" href="/docs/style-hooks.html">Style Hooks</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/error-handling.md' ? 'active' : '' %>" href="/docs/error-handling.html">Error Handling</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/concurrency.md' ? 'active' : '' %>" href="/docs/concurrency.html">Concurrency</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/context.md' ? 'active' : '' %>" href="/docs/context.html">Context</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/advanced-customizations.md' ? 'active' : '' %>" href="/docs/advanced-customizations.html">Advanced Customizations</a></li>
    </ul>
  </div>
  <div class="nav-docs-section">
    <h3>Types</h3>
    <ul>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/info-types.md' ? 'active' : '' %>" href="/docs/info-types.html">General Type Info</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/type-lifecycle.md' ? 'active' : '' %>" href="/docs/type-lifecycle.html">Type Lifecycle</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/type-properties.md' ? 'active' : '' %>" href="/docs/type-properties.html">Common Type Properties</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/boolean-type.md' ? 'active' : '' %>" href="/docs/boolean-type.html">Boolean</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/help-version-type.md' ? 'active' : '' %>" href="/docs/help-version-type.html">Help and Version</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/number-type.md' ? 'active' : '' %>" href="/docs/number-type.html">Number</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/string-type.md' ? 'active' : '' %>" href="/docs/string-type.html">String</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/path-type.md' ? 'active' : '' %>" href="/docs/path-type.html">Path / File / Dir</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/enum-type.md' ? 'active' : '' %>" href="/docs/enum-type.html">Enum</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/array-type.md' ? 'active' : '' %>" href="/docs/array-type.html">Array</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/unknown-type.md' ? 'active' : '' %>" href="/docs/unknown-type.html">"Unknown" Type</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/positional-type.md' ? 'active' : '' %>" href="/docs/positional-type.html">Positionals</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/command-type.md' ? 'active' : '' %>" href="/docs/command-type.html">Commands</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/custom-types.md' ? 'active' : '' %>" href="/docs/custom-types.html">Custom Types</a></li>
    </ul>
  </div>
  <div class="nav-docs-section">
    <h3>Commands</h3>
    <ul>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/command-lifecycle.md' ? 'active' : '' %>" href="/docs/command-lifecycle.html">Command Lifecycle</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/command-positionals.md' ? 'active' : '' %>" href="/docs/command-positionals.html">With Positionals</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/command-setup.md' ? 'active' : '' %>" href="/docs/command-setup.html">Synchronous Setup Handler</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/command-run.md' ? 'active' : '' %>" href="/docs/command-run.html">Asynchronous Run Handler</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/command-modules.md' ? 'active' : '' %>" href="/docs/command-modules.html">Command Modules</a></li>
    </ul>
  </div>
</div>
