<div class="nav-docs">
  <div class="nav-docs-section">
    <h3>Docs</h3>
    <ul>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/index.md' ? 'active' : '' %>" href="/docs">General API</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/info-types.md' ? 'active' : '' %>" href="/docs/info-types.html">Types</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'docs/command-lifecycle.md' ? 'active' : '' %>" href="/docs/command-lifecycle.html">Commands</a></li>
    </ul>
  </div>
  <div class="nav-docs-section">
    <h3>About</h3>
    <ul>
      <li><a style="margin-left:0;" class="<%= page.source === 'about/index.md' ? 'active' : '' %>" href="/about">Features</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'about/comparison-matrix.md' ? 'active' : '' %>" href="/about/comparison-matrix.html">Comparison Matrix</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'about/roadmap.md' ? 'active' : '' %>" href="/about/roadmap.html">Roadmap</a></li>
    </ul>
  </div>
</div>
